$primary-color: #18C576;
$hover-color: #0056b3;
$background-color-light: #fff;
$background-color-dark: #F2F2F2;
$accent-color: #AC59F1;
$font-size-base: 1rem;
$font-weight-bold: 700;
$font-weight-medium: 500;
$radius-small: 5px;
$padding-small: 0.8rem;
$padding-large: 1rem;
$max-width-banner: 80vw;
$max-height-banner: 90vh;
$video-margin: 3rem;
$zero-indent: 0;
$full-width: 100vw;
$full-height: 100vh;