$font-family: 'Inter', sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #18C576;
$color-red: red;
$color-gray: #E6E6E6;
$color-orange: orange;
$color-light-gray: #F2F2F2;
$color-dark-gray: #444444;
$border-radius: 5px;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 4rem;